py-server/.langchain.db
/py-server/emb_cache
/py-server/vec_db
/py-server/Data/ارامكو
/py-server/Data/علم
py-server/.env
.env
/nodejs/node_modules
nodejs/package-lock.json
nodejs/package.json
/nodejs/chats
nodejs/chats-db.json
