.chat {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--clr-white-800);
    border-bottom: 1px solid var(--clr-black-500-10);
    display: flex;
    align-items: center;
    padding: 0 30px;

    h1 {
      font-size: 24px;
      font-weight: 500;
      color: var(--clr-black-500);
      display: inline-block;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;

      .ico {
        background-color: var(--clr-black-500-80);
      }

      &:hover {
        .ico {
          background-color: var(--clr-black-500-60);
        }
      }
    }
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .content {
    padding: 20px 0;
  }

  .question,
  .answer {
    min-width: 300px;
    max-width: 600px;
    margin-bottom: 15px;

    .text {
      padding: 20px;
      border-radius: 10px;
      border: 1px solid var(--clr-black-500-10);
    }

    .date {
      display: block;
      font-size: 12px;
      color: var(--clr-black-500-60);
      margin-top: 10px;
      text-align: right;
    }
  }

  .question {
    margin-left: auto;
  }

  .answer {
    margin-right: auto;
    display: grid;
    grid-template-columns: 48px 1fr;
    column-gap: 10px;

    .avatar,
    .text {
      display: inline-block;
    }

    .text {
      background-color: var(--clr-white-500);
    }
  }

  .input {
    max-width: 800px;
    width: 800px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    form {
      display: grid;

      * {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      button {
        justify-self: end;
        align-self: center;
        transform: translateX(-20px);
        background: none;
        border: none;
        cursor: pointer;

        .ico {
          transition: 0.2s ease-in-out;
        }

        &:hover {
          .ico {
            background-color: var(--clr-black-500-60);
          }
        }
      }

      textarea {
        padding: 15px 20px;
        min-height: 100px;
        border-radius: 10px;
        font-size: 16px;
        border: 1px solid var(--clr-black-500-30);
        resize: none;
      }
    }
  }
}
