@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('../fonts/IBMPlexSansArabic-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('../fonts/IBMPlexSansArabic-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('../fonts/IBMPlexSansArabic-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('../fonts/IBMPlexSansArabic-SemiBold.ttf') format('truetype');
    font-weight: 600;
}